<div class="wthreeblogsaits" id="wthreeblogsaits">
  <div class="wthreeblogsaits-grids">

    <h3>Latest Blogs & News</h3>
    <div class="col-md-3 wthreeblogsaits-grid wthreeblogsaits-grid-1">
      <a href="#" data-toggle="modal" data-target="#myModal1"><img src="assets/blog-1.jpg" alt="Game Robo"></a>
      <span class="w3date">10-10-2016</span>
      <h4><a href="#" data-toggle="modal" data-target="#myModal1">NVIDIA TITAN X</a></h4>
      <p>The NVIDIA TITAN X, featuring the NVIDIA Pascal™ architecture, is the ultimate graphics card. Whatever you're doing, this groundbreaking TITAN X gives you the power to accomplish things you never thought possible.</p>
      <button class="btn btn-primary" data-toggle="modal" data-target="#myModal1">READ MORE<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </div>
    <div class="col-md-3 wthreeblogsaits-grid wthreeblogsaits-grid-2">
      <a href="#" data-toggle="modal" data-target="#myModal2"><img src="assets/blog-2.jpg" alt="Game Robo"></a>
      <span class="w3date">15-10-2016</span>
      <h4><a href="#" data-toggle="modal" data-target="#myModal2">PS4 VR HEADSET</a></h4>
      <p>PlayStation VR is an affordable introduction to quality VR. Many of the experiences aren't as crisp as the ones found on the Oculus Rift or HTC Vive, but, for a system that uses a PS4 instead of an expensive PC gaming rig, we're not complaining. Plus, a recent price reduction makes it even more appealing.</p>
      <button class="btn btn-primary" data-toggle="modal" data-target="#myModal2">READ MORE<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </div>
    <div class="col-md-3 wthreeblogsaits-grid wthreeblogsaits-grid-3">
      <a href="#" data-toggle="modal" data-target="#myModal3"><img src="assets/blog-3.jpg" alt="Game Robo"></a>
      <span class="w3date">20-10-2016</span>
      <h4><a href="#" data-toggle="modal" data-target="#myModal3">ACCESSORIES FOR XBOX</a></h4>
      <p>The Xbox Accessories app gives you more ways to play when paired with an Xbox Wireless Controller, an Xbox Elite Wireless Controller, or an Xbox Adaptive Controller. Create and edit controller profiles by remapping buttons, swapping sticks and triggers, and configuring controller vibration.</p>
      <button class="btn btn-primary" data-toggle="modal" data-target="#myModal3">READ MORE<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </div>
    <div class="col-md-3 wthreeblogsaits-grid wthreeblogsaits-grid-4">
      <a href="#" data-toggle="modal" data-target="#myModal4"><img src="assets/blog-4.jpg" alt="Game Robo"></a>
      <span class="w3date">25-10-2016</span>
      <h4><a href="#" data-toggle="modal" data-target="#myModal4">NEW SUPER MARIO BROS!</a></h4>
      <p>New Super Mario Bros. is a 2D side-scrolling platform game developed and published by Nintendo for the Nintendo DS. It is a part of the New Super Mario Bros. series and was released in 2006. The game's plot is similar to those of other side-scrolling Mario games.</p>
      <button class="btn btn-primary" data-toggle="modal" data-target="#myModal4">READ MORE<i class="fa fa-arrow-right" aria-hidden="true"></i></button>
    </div>
    <div class="clearfix"></div>
  </div>

  <!-- Tooltip-Content -->
  <div class="tooltip-content">

    <div class="modal fade details-modal" id="myModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">NVIDIA TITAN X</h4>
          </div>
          <div class="modal-body">
            <img src="assets/blog-1.jpg" alt="Game Robo">
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade details-modal" id="myModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">PS4 VR HEADSET</h4>
          </div>
          <div class="modal-body">
            <img src="assets/blog-2.jpg" alt="Game Robo">
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade details-modal" id="myModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">ACCESSORIES FOR XBOX</h4>
          </div>
          <div class="modal-body">
            <img src="assets/blog-3.jpg" alt="Game Robo">
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade details-modal" id="myModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">NEW SUPER MARIO BROS!</h4>
          </div>
          <div class="modal-body">
            <img src="assets/blog-3.jpg" alt="Game Robo">
            <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
          </div>
        </div>
      </div>
    </div>

  </div>
  <!-- //Tooltip-Content -->
</div>
