<div class="aitspartnersw3l">
  <div id="owl-demo4" class="owl-carousel text-center">
    <div class="item">
      <img src="assets/partner-1.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-2.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-3.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-4.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-5.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-6.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-7.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-8.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-9.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-10.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-11.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-12.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-13.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-14.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-15.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-16.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-17.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-18.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-19.jpg" alt="Game Robo">
    </div>
    <div class="item">
      <img src="assets/partner-20.jpg" alt="Game Robo">
    </div>
  </div>
</div>
