<div class="w3portfolioaits" id="w3portfolioaits">
<h3><%= t "layouts.header.portfolio" %></h3>
  <div class="w3portfolioaits-items">
    <% support.portfolio.each.with_index(1) do |game, index| %>
      <div class="<%= "col-md-3 w3portfolioaits-item w3portfolioaits-item-#{index}" %>">
        <%= link_to(game.picture.url, {class: "example-image-link",
            :"data-lightbox" => "example-set"}) do %>
          <div class="grid">
            <figure class="effect-apollo">
              <%= image_tag(game.picture.url, alt: "Game Robo") %>
                <figcaption></figcaption>
            </figure>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="clearfix"></div>
  </div>
</div>
