<div class="uk-position-relative uk-visible-toggle uk-light" uk-slideshow="ratio: 32:17">
  <ul class="uk-slideshow-items">
    <% support.game_popular.each do |game| %>
      <li>
        <%= link_to game do %>
          <%= image_tag(game.picture.url, alt: "Game Robo") %>
        <% end %>
      </li>
    <% end %>
  </ul>

  <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
  <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>
</div>
