<div class="w3lsstatsaits" id="w3lsstatsaits">
  <div class="container">

    <div class="w3lsstatsaits-info">
      <div class="col-md-3 w3lsstatsaits-grid w3lsstatsaits-grid-1">
        <div class="w3lsstatsaits-img">
          <img src="assets/stats-1.png" alt="Corsa Racer">
        </div>
        <div class="w3lsstatsaitsstats counter" data-slno='1' data-min='0' data-max='10000' data-delay='5' data-increment=4>10000</div>
        <p>Games</p>
      </div>
      <div class="col-md-3 w3lsstatsaits-grid w3lsstatsaits-grid-2">
        <div class="w3lsstatsaits-img">
          <img src="assets/stats-2.png" alt="Corsa Racer">
        </div>
        <div class="w3lsstatsaitsstats counter" data-slno='1' data-min='0' data-max='1657033000' data-delay='5' data-increment="1">1657033000</div>
        <p>Downloads</p>
      </div>
      <div class="col-md-3 w3lsstatsaits-grid w3lsstatsaits-grid-3">
        <div class="w3lsstatsaits-img">
          <img src="assets/stats-3.png" alt="Corsa Racer">
        </div>
        <div class="w3lsstatsaitsstats counter" data-slno='1' data-min='0' data-max='192000' data-delay='5' data-increment="11">192000</div>
        <p>Followers</p>
      </div>
      <div class="col-md-3 w3lsstatsaits-grid w3lsstatsaits-grid-4">
        <div class="w3lsstatsaits-img">
          <img src="assets/stats-4.png" alt="Corsa Racer">
        </div>
        <div class="w3lsstatsaitsstats counter" data-slno='1' data-min='0' data-max='71600' data-delay='5' data-increment="1">71600</div>
        <p>Online Gamers</p>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
