<div class="wthreetabsaits" id="wthreetabsaits">
  <section>
    <h3>Collection</h3>
    <div class="tabs tabs-style-line">
      <nav class="container">
        <ul>
          <li><a href="#section-line-1"><span>POPULAR</span></a></li>
          <li><a href="#section-line-2"><span>NEW ARRIVALS</span></a></li>
          <li><a href="#section-line-3"><span>BEST SELLERS</span></a></li>
          <li><a href="#section-line-4"><span>EDITOR'S PICK</span></a></li>
        </ul>
      </nav>
      <div class="content-wrap">
        <section id="section-line-1">
          <div id="owl-demo" class="owl-carousel text-center">
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/popular-1.jpg" alt="Game Robo">
              </div>
              <h3>Forza Horizon 3</h3>
              <h4>2 Million+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/popular-2.jpg" alt="Game Robo">
              </div>
              <h3>Fallout 4</h3>
              <h4>1 Million+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/popular-3.jpg" alt="Game Robo">
              </div>
              <h3>Mass Effect 4</h3>
              <h4>900000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/popular-4.jpg" alt="Game Robo">
              </div>
              <h3>The Division</h3>
              <h4>874000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/popular-5.jpg" alt="Game Robo">
              </div>
              <h3>Assassin's Creed III</h3>
              <h4>997000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/popular-6.jpg" alt="Game Robo">
              </div>
              <h3>The Elder Scrolls</h3>
              <h4>688000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/popular-7.jpg" alt="Game Robo">
              </div>
              <h3>Watch Dogs</h3>
              <h4>589000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/popular-8.jpg" alt="Game Robo">
              </div>
              <h3>Titanfall</h3>
              <h4>800000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/popular-9.jpg" alt="Game Robo">
              </div>
              <h3>The Witcher 3</h3>
              <h4>950000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/popular-10.jpg" alt="Game Robo">
              </div>
              <h3>Battlefield 4</h3>
              <h4>1 Million+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
          </div>
        </section>
        <section id="section-line-2">
          <div id="owl-demo1" class="owl-carousel text-center">
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/new-1.jpg" alt="Game Robo">
              </div>
              <h3>Call of Duty: Ghosts</h3>
              <h4>3 Million+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/new-2.jpg" alt="Game Robo">
              </div>
              <h3>Mortal Kombat X</h3>
              <h4>1.5 Million+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/new-3.jpg" alt="Game Robo">
              </div>
              <h3>Guild Wars 2</h3>
              <h4>530000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/new-4.jpg" alt="Game Robo">
              </div>
              <h3>League of Legends</h3>
              <h4>974000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/new-5.jpg" alt="Game Robo">
              </div>
              <h3>Child of Eden</h3>
              <h4>457000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/new-6.jpg" alt="Game Robo">
              </div>
              <h3>Dark Souls III</h3>
              <h4>788000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/new-7.jpg" alt="Game Robo">
              </div>
              <h3>World of Warships</h3>
              <h4>489000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/new-8.jpg" alt="Game Robo">
              </div>
              <h3>Metro 2033</h3>
              <h4>907000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/new-9.jpg" alt="Game Robo">
              </div>
              <h3>DOTA 2</h3>
              <h4>750000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/new-10.jpg" alt="Game Robo">
              </div>
              <h3>World of warcraft</h3>
              <h4>2 Million+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
          </div>
        </section>
        <section id="section-line-3">
          <div id="owl-demo2" class="owl-carousel text-center">
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/best-1.jpg" alt="Game Robo">
              </div>
              <h3>Batman: Arkham</h3>
              <h4>2 Million+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/best-2.jpg" alt="Game Robo">
              </div>
              <h3>Tomb Raider: Rise</h3>
              <h4>1.5 Million+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/best-3.jpg" alt="Game Robo">
              </div>
              <h3>S.T.A.L.K.E.R. 2</h3>
              <h4>530000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/best-4.jpg" alt="Game Robo">
              </div>
              <h3>Minecraft</h3>
              <h4>974000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/best-5.jpg" alt="Game Robo">
              </div>
              <h3>Deadpool</h3>
              <h4>457000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/best-6.jpg" alt="Game Robo">
              </div>
              <h3>World of Tanks</h3>
              <h4>788000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/best-7.jpg" alt="Game Robo">
              </div>
              <h3>Crysis 3</h3>
              <h4>489000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/best-8.jpg" alt="Game Robo">
              </div>
              <h3>Hitman</h3>
              <h4>907000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/best-9.jpg" alt="Game Robo">
              </div>
              <h3>Call Of Duty 11</h3>
              <h4>750000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/best-10.jpg" alt="Game Robo">
              </div>
              <h3>DOOM</h3>
              <h4>2 Million+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
          </div>
        </section>
        <section id="section-line-4">
          <div id="owl-demo3" class="owl-carousel text-center">
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/editor-1.jpg" alt="Game Robo">
              </div>
              <h3>Gran Turismo 6</h3>
              <h4>3 Million+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/editor-2.jpg" alt="Game Robo">
              </div>
              <h3>The Crew</h3>
              <h4>1 Million+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/editor-3.jpg" alt="Game Robo">
              </div>
              <h3>Assetto Corsa</h3>
              <h4>900000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/editor-4.jpg" alt="Game Robo">
              </div>
              <h3>Project CARS</h3>
              <h4>874000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/editor-5.jpg" alt="Game Robo">
              </div>
              <h3>Diablo III</h3>
              <h4>997000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/editor-6.jpg" alt="Game Robo">
              </div>
              <h3>BioShock Infinite</h3>
              <h4>688000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/editor-7.jpg" alt="Game Robo">
              </div>
              <h3>Shadow of Mordor</h3>
              <h4>589000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/editor-8.jpg" alt="Game Robo">
              </div>
              <h3>The Last of Us</h3>
              <h4>800000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-half-o" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/editor-9.jpg" alt="Game Robo">
              </div>
              <h3>Splinter Cell</h3>
              <h4>950000+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star-o" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
            <div class="item">
              <div class="agileinfoitem-image">
                <img src="assets/editor-10.jpg" alt="Game Robo">
              </div>
              <h3>Rainbow Six</h3>
              <h4>1 Million+ Downloads</h4>
              <div class="wthreeratingaits">
                <ul>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star" aria-hidden="true"></i></li>
                </ul>
              </div>
              <div class="wthreeitemdownload">
                <a href="#">Download</a>
              </div>
            </div>
          </div>
        </section>
      </div><!-- /content -->
    </div><!-- /tabs -->
  </section>
</div>
