<% provide :title, t("games.add_game") %>
<% provide :button_text, t("games.new.add") %>
<% provide :url, games_path %>

<div class="uk-card uk-card-body" style="color: #fff;">
  <div class="uk-card-title">
    <h1><%= t "games.add_game" %></h1>
  </div>
  <div class="uk-card-body">
    <%= render "form" %>
  </div>
</div>
