<% provide :title, @user.nick_name %>

<div class="uk-margin">
  <br>
  <h1 class="uk-heading-bullet" style="color: #fff">
    name: <%= @user.nick_name %>
  </h1>
  <h1 class="uk-heading-bullet" style="color: #fff; margin-top: 0;">
    email: <%= @user.email %>
  </h1>
<div>
