<div id="favorite_button">
  <% if(relation = Wishlist.find_by(user_id: current_user.id, game_id: @game.id)) %>
    <%= link_to image_tag("like.png", border: 0, id: "favorite", style: 'height:30px;width:30px'), wishlist_path(relation), method: :delete, remote: true %>
  <% else %>
    <%= link_to image_tag("unlike.png", border: 0, id: "favorite", style: 'height:30px;width:30px'), wishlists_path(game_id: @game.id), method: :post, remote: true %>
  <% end %>
</div>
