.uk-container {
  max-width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  background: url(tabs-bg.jpg);
}

.games_index_image {
  width: 300px;
}

#content {
  overflow: auto;
}

#info {
  width: 480px;
  float: left;
  text-align: left
}

#picture {
  width: 480px;
  float: right;
}

#review_text_field {
  color: #000;
}

.reply_text_field {
  color: #000;
}

.search_genre {
  padding: 0;
  border: none;
  background: none;
  color: #428bca;
  text-decoration: underline;
}
