body {
  background-image: url(tabs-bg.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
}

.games_index_image {
  width: 300px;
}

#content {
  overflow: auto;
}

#info {
  width: 480px;
  float: left;
  text-align: left
}

#picture {
  width: 480px;
  float: right;
}

#review_text_field {
  color: #000;
}

.reply_text_field {
  color: #000;
}

.search_genre {
  padding: 0;
  border: none;
  background: none;
  color: #428bca;
  text-decoration: underline;
}

.form_label {
  color: white;
}
