body {
  background-image: url(tabs-bg.jpg) !important;
  background-repeat: no-repeat;
  background-size: cover;
}
.dropdown-menu > li > a {
  color: #ccc !important;
  transition: all .2s ease-in;
}
.dropdown-menu > li > a:hover {
  color: #333 !important;
}

.agileinfoitem-image, .game_image-container {
  display: block;
  position: relative;
  padding-top: 60%;
}
.agileinfoitem-image img, .game_image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.wthreeratingaits.review {
  margin-bottom: 5px;
}
.wthreeratingaits.review ul {
  padding-left: 0;
}
.wthreeratingaits.black i,
.wthreeratingaits.black span {
  color: #333 !important;
}

.games_index_image {
  width: 300px;
}

#content {
  overflow: auto;
}

#info {
  width: 480px;
  float: left;
  text-align: left
}

#picture {
  width: 480px;
  float: right;
}

#review_text_field {
  color: #000;
}

.reply_text_field {
  color: #000;
}

.search_genre {
  padding: 0;
  border: none;
  background: none;
  color: #428bca;
  text-decoration: underline;
}

.form_label {
  color: white;
}
